@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

:root{
    /*palette*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500:rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid:#1d84b5;
    --secondary-900:rgb(29, 132, 181,0.9);
    --secondary-500:rgb(29, 132, 181,0.5);
    --secondary-300:rgb(29, 132, 181,0.3);

    --dark-solid: #1F1F1F;
    --dark-900:rgb(31, 31, 31,0.9);
    --dark-700:rgb(31, 31, 31, 0.7);
    --dark-500:rgb(31, 31, 31,0.5);
    --dark-300:rgb(31, 31, 31,0.3);

    --dark-bg-solid:#30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /*TYPOGRAPHY*/

    --base-font:'inter', sans-serif;
    --alternative-font:'Raleway', sans-serif;

    /*FONT SIZES*/

    --font-display:4.6em;
    --font-jumbo:3.8em;
    --font-xlarge:3em;
    --font-large:2.4em;
    --font-medium:1.8em;
    --font-small:1.6em;
    --font-xsmall:1.4em;

    /*SPACING*/
    --spacing-128:12.8rem;
    --spacing-68:6.8rem;
    --spacing-36:3.6rem;
    --spacing-28:2.8rem;
    --spacing-24:2.4rem;
    --spacing-20:2rem;
    --spacing-16:1.6rem;
    --spacing-12:1.2rem;
    --spacing-8:0.8rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);

}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alterative-font);
    color:var(--light-bg-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1,8em;
    color:inherit;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
header{
    background-color: var(--dark-bg-solid);
    gap:var(--spacing-36)
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__logo{
    max-width: 300px;

}

.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover{
    background-color: var(--primary-900);
}

.with-icon{
    display: flex;
    align-items: center;
    gap:var(--spacing-8)
}

.with-submenu:hover .submenu{
    display: block;

}

.submenu{
    display: none;
    position:absolute;
    background-color: var(--dark-bg-solid);
    width: 300px;
    z-index: 3;
}

.submenu__link{
    display: block;
    padding: var(--spacing-8)var(--spacing-16);
    font-size: var(--font-medium);
}

.submenu__link:hover{
    background:var(--primary-900);
    transition: background .3s ease-in-out;
}

/*HERO*/

.hero{
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: top;
}

.hero::before{
    content: '';
    background-color: rgba(0,0,0, 0);
    width: 100%;
    height: 100%;
    position: absolute;    
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(0.9);
}   

.hero__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    position: relative;
    z-index: 2;
}

.hero__title{
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid)
}

.hero__text{
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid)
}

.hero__link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
}

.hero__link:hover{
    background-color: var(--primary-900);
    color: var(--light-font-solid);
    transition:all 0.3s ease-in-out;
}

/*COLLECTIONS*/

.collection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover{
    order: -1;
}

.collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 400;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link{
    display: inline-block;
    font-family: var(--base-font);
    font-family: var(--font-medium);
    font-weight: 500;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/*SLIDER*/

.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider_title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
}

.slider__items{
    display: flex;
    gap: var(--spacing-24);    
}

.card-item__cover{
    display: flex;
    position: relative;
}

.card-item__tag{
    font-size: var(--font-xsmall);
    font-weight: 500;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}


.card-item__cover img{
    animation: fade .7s;
}


.card-item__img--back{
    display: none;
}

.card-item__cover:hover .card-item__img--back{
    display: block;
}

.card-item__cover:hover .card-item__img--front{
    display: none;
}

.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__license{
    font-size: var(--font-xsmall);
    font-weight: 700;
}

.card-item__title{
    font-size: var(--font-small);
    font-weight: 500;
}

.card-item__price{
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__promo{
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy{
    font-size: var(--font-small);
    margin-top: var(--spacing-36);
    text-align: center;
}

/*ANIMATIONS*/
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*ASIDE*/
aside{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-36);   
}

.aside{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);    
}

.shop{
    display: flex;
    flex-direction: row;
}

.aside__search{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.aside__title{
    font-size: var(--font-large);
    font-weight: 500;
    }

.aside__textbox{
    width: 15em;
    border-radius: 6px;
    padding: var(--spacing-8);
    border-color: var(--dark-bg-solid); 
    border: 2px;
}

.aside__order{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.aside__select{
    width: 15em;
    border-radius: 6px;
    padding: var(--spacing-8);
    border-color: var(--dark-bg-solid); 
    border: 2px;
}

.aside__holder{
    font-size: var(--font-medium)
}

.aside__price{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-24);
    align-items: center;
}

.aside__value{
    font-weight: 500;
    font-size: var(--font-small);
}

.aside_smalltextbox{
    width: 2em;
    border: 2px;
    border-radius: 6px;
    border-color: var(--dark-bg-solid);
}

.aside__filter{
    justify-content: center;
}

.aside__option{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
}

.aside__option-value{
    font-size: var(--font-medium);
    font-weight: 500;
}

.aside__check{
    width: 2em;
    border: 2px;
    border-radius: 6px;
    border-color: var(--dark-bg-solid);
}

.card{
    display: flex;
    flex-direction: row;
}

.card-item-shop{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
    justify-content: center;
    align-items: center;
}

.card-item__cover{
    display: flex;
    position: relative;
}

.card-item__cover img{
    animation: fade .7s;
}

.product__content{
    display: block;
    flex-direction: column;
    gap: var(--spacing-24);
    padding: var(--spacing-16);
}

.product__license{
    font-size: var(--font-small);
    font-weight: 500;
}

.product__title{
    font-size: var(--font-xlarge);
    font-weight: 400;
}

.product__description{
    font-size: var(--font-large);
    font-weight: 400;
}

.product__price{
    font-size: var(--font-medium);
    font-weight: 700;
}

.productpromo{
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

.product__link{
    font-size: x-small;
    font-weight: 700;
    color: var(--secondary-solid);
}

.product__link span{
    text-decoration: underline;
}

#cartform{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
    height: 37.91px;
    width: 342.58;
}

#countitem{
    position: relative;
    border-color: #C9C9C9;
}

.countmodifier{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-8);
    max-width: 20px;
    max-height:20px; 
}

.countmodifier__plus{
    width: 18px;
    height: 16px;
    justify-content: center;
    padding: 2px;
    background-color: var(--dark-700);
    color: var(--light-bg-solid);
    border: none;   
}

.countmodifier__minus{
    width: 18px;
    height: 16px;
    justify-content: center;
    padding: 2px;
    background-color: var(--dark-700);
    color: var(--light-bg-solid);  
    border: none;  
}

#agregar{
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    padding: 5px;
    border: none;
}

.product-link{
    margin-top: 5px;
}

/*CART*/

.cart-title{
    width: 510px;
    height: 62px;
    top: 272px;
    left: 110px;
    border-bottom: 5px solid var(--primary-solid);
    gap: var(--spacing-8);
    padding: 0px 0px 8px 0px;
}

.cart-title h1{
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
    gap: var(--spacing-8);
    padding: 0px 0px 8px 0px;
}

.row__headers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 51px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: var(--light-bg-solid);
    border-color: var(--dark-300);
}

.headers__text-1{
    font-weight: 700;
    font-size: var(--font-small);
    width: 191px;
}

.headers__text-2{
    font-weight: 700;
    font-size: var(--font-small);
    width: 86px;
}

.headers__text-3{
    font-weight: 700;
    font-size: var(--font-small);
    width: 53px;
}

.flex-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-item-1{
    flex-grow: 2;
    flex-basis: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-8);  
}

.cart-item{
    height: 118px;
    width: 118px;
}

.cart-item-title{
    font-size: var(--font-large);
    font-weight: 700;
}

.cart-item-license{
    font-size: var(--font-small);
    font-weight: 500;
}

.cart-item-price{
    font-size: var(--font-small);
    font-weight: 400;
}

.flex-item-2{
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-8);
    place-content: center;
}

.flex-item-2-form{
    align-items: center;
    justify-content: center;
    width: 100;
}


.flex-item-2-input{
    width: 89.48px;
    height: 20px;
}

.flex-item-buttons{
    display: flex;
    flex-direction: column;
    height: 36px;
    width: 18px;
    gap: 3px;
}

.flex-item-buttons-plus{
    height: 16px;
    width: 18px;
    background-color: var(--primary-solid);
    justify-content: space-between;
    align-content: center;
    border: none;
    color: var(--light-bg-solid);
}

.flex-item-buttons-minus{
    height: 16px;
    width: 18px;
    background-color: var(--primary-solid);
    justify-content: space-between;
    align-content: center;
    border: none;
    color: var(--light-bg-solid);
}

.flex-item-3{
    flex-grow: 1;
    gap: var(--spacing-8);
    font-size: var(--font-medium);
    font-weight: 400;
    border: none;
    justify-content: center;
    width: 99px;
}

.flex-item-4{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.flex-item-4-delete{
    width: 28px;
    height: 28px;
    justify-content: center;
    background-color: transparent;
    border: none;
}

/*SUMMARY*/

.summary-title{
    width: 1200px;
    height: 62px;
    display: flex;
    flex-direction: row-reverse;
}

.summary-title h1{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    line-height: 54px;
    border-bottom: 5px solid var(--primary-solid);
    width: 224px;
    height: 54px;
}

.flex-summary{
   display: flex;
   flex-direction: column;
   width: 800px;
   height: 197px;
   margin-top: 10px;
   margin-left: 758px;
   padding: 24px;
   gap: var(--spacing-20);
   border-radius: 10px;
   background-color: var(--light-bg-solid);
}

.summary-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-item-text{
    font-size: var(--font-small);
    font-weight: 600;
    color: var(--dark-solid);
    line-height: 19.36px;
}

.summary-item-total{
    font-size: var(--font-medium);
    font-weight: 700;
    color: var(--dark-solid);
    line-height: 24.2px;
}

.with-border{
    border-top: 2px solid var(--primary-solid);
    padding: 8px 0px 0px 0px;
}

.summary-input{
    font-size: var(--font-small);
    font-weight: 700;
}

.summary-input-total{
    font-size: var(--font-medium);
    font-weight: 700;
    line-height: 24.2px;
}

.cart-button{
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    width: 800px;
    height: 68px;
    margin-top: 50px;
    margin-left: 405px;
    font-size: var(--font-xlarge);
    line-height: 38.73px;
    font-weight: 700;
    margin-bottom: 100px;
}
