@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

:root{
    /*palette*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500:rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid:#1d84b5;
    --secondary-900:rgb(29, 132, 181,0.9);
    --secondary-500:rgb(29, 132, 181,0.5);
    --secondary-300:rgb(29, 132, 181,0.3);

    --dark-solid: #1F1F1F;
    --dark-900:rgb(31, 31, 31,0.9);
    --dark-700:rgb(31, 31, 31, 0.7);
    --dark-500:rgb(31, 31, 31,0.5);
    --dark-300:rgb(31, 31, 31,0.3);

    --dark-bg-solid:#30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /*TYPOGRAPHY*/

    --base-font:'inter', sans-serif;
    --alternative-font:'Raleway', sans-serif;

    /*FONT SIZES*/

    --font-display:4.6em;
    --font-jumbo:3.8em;
    --font-xlarge:3em;
    --font-large:2.4em;
    --font-medium:1.8em;
    --font-small:1.6em;
    --font-xsmall:1.4em;

    /*SPACING*/
    --spacing-128:12.8rem;
    --spacing-68:6.8rem;
    --spacing-36:3.6rem;
    --spacing-28:2.8rem;
    --spacing-24:2.4rem;
    --spacing-20:2rem;
    --spacing-16:1.6rem;
    --spacing-12:1.2rem;
    --spacing-8:0.8rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);

}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alterative-font);
    color:var(--light-bg-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1,8em;
    color:inherit;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
header{
    background-color: var(--dark-bg-solid);
    gap:var(--spacing-36)
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__logo{
    max-width: 300px;

}

.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover{
    background-color: var(--primary-900);
}

/*FORM*/

.form{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-36);
}

.form__title{
    font-size: var(--font-display);
    font-weight: 700;
    line-height: 49.3px;
    color: var(--dark-solid);
    text-align: center;
}

.form__text{
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    font-weight: 500;
    line-height: 37.57px;
    color: var(--dark-solid);
    text-align: center;
}

.form__data{
    width: 455px;
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-36);
    margin-left: 400px;
    gap: var(--spacing-36);
}

.form__name{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between;
    width: 455px;
}

.form__surname{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between
}

.form__email{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between
}

.form__password{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between
}

.form__label{
    font-size: var(--font-large);
    font-weight: 400;
    text-align: right;
    line-height: 29.05px;
    color: var(--dark-solid);
}

input[type=text]{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-medium);
    font-weight: 400;
    line-height: 19.36px;
}

input[type=email]{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-medium);
    font-weight: 400;
    line-height: 19.36px
}

input[type=password]{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-medium);
    font-weight: 400;
    line-height: 19.36px
}

.form__sumbit{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 455px;
    margin-top: var(--spacing-36);
    margin-left: 400px;  
    margin-bottom: var(--spacing-36);  
}

input[type=submit]{
    background-color: var(--primary-solid);
    width: 103px;
    height: 39px;
    color: var(--light-font-solid);
    border: none;
    font-size: var(--font-xsmall);
}

input[type=checkbox]{
    border: 2px solid var(--dark-solid);
    margin-left: 41px;
    display: inline-flex;
}

.form__label-terms{
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
    line-height: 21.78px;
    margin-left: var(--spacing-8);
}

/*FOOTER*/

.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy{
    font-size: var(--font-small);
    margin-top: var(--spacing-36);
    text-align: center;
}